<h1>{{ author.nom }}</h1>
    <img src="{{ asset('images/' ~ author.picture) }}" alt="{{ author.nom }}" width="50px" height="50px">
    <p>Email: {{ author.email }}</p>
    <p>Number of books: {{ author.getNbBooks() }}</p>
    <a href="{{ path('app_ListAuthors') }}">Back to author list</a>