<h1>{{ author.username }}</h1>
    <img src="{{ asset('images/' ~ author.picture) }}" alt="{{ author.username }}" width="50px" height="50px">
    <p>Email: {{ author.email }}</p>
    <p>Number of books: {{ author.nb_books }}</p>
    <a href="{{ path('app_ListAuthors') }}">Back to author list</a>